<div class="profile">
<i class="fa-solid fa-circle-user fa-4x"></i>
<p class="topic">Welcome John Deo</p>
<p class="info">You can view/edit your account information from here.</p>
<table class="basic">
    <tr>
        <td>First Name</td>
        <td></td>
        <td><button type="button"><a href=""><i class="fa-regular fa-pen-to-square"></i></a></button></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td></td>
        <td><button type="button"><a href=""><i class="fa-regular fa-pen-to-square"></i></a></button></td>
    </tr>
    <tr>
        <td>NIC</td>
        <td></td>
        <td><i class="fa-solid fa-lock"></i></td>
    </tr>
    <tr>
        <td>Receptionist ID</td>
        <td></td>
        <td><i class="fa-solid fa-lock"></i></td>
    </tr>
    <tr>
        <button type="button"><a href="#">Click here to change your password.</a></button>
    </tr>
    <tr>
        <td>Email</td>
        <td></td>
        <td><i class="fa-solid fa-lock"></i></td>
    </tr>
    <tr>
        <td>Telephone Number</td>
        <td></td>
        <td><button type="button"><a href=""><i class="fa-regular fa-pen-to-square"></i></a></button></td>
    </tr>
    <tr>
        <td>Salary</td>
        <td></td>
        <td><button type="button"><a href=""><i class="fa-regular fa-pen-to-square"></i></a></button></td>
    </tr>
    <tr>
        <td>Address</td>
        <td></td>
        <td><button type="button"><a href=""><i class="fa-regular fa-pen-to-square"></i></a></button></td>
</table>
</div>
