form{
    margin-left: 100px;
    margin-top: 70px;
    margin-right: 1px;
}

.form-group{
    padding: 10px;
}

.header{
    margin-top: 40px;
    margin-left: 200px;
}

.form-control{
    width: 500px;
}