<!-- <app-admin-page></app-admin-page> -->
<app-owner-page></app-owner-page>
<!-- <app-reception-page></app-reception-page> -->
<!-- <app-student-page></app-student-page> -->
<!-- <app-teacher-page></app-teacher-page> -->
<!-- <app-add-teacher></app-add-teacher> -->
<!-- <app-add-reception></app-add-reception> -->
<!-- <app-manage-staff></app-manage-staff> -->
<!-- <app-admin-profile></app-admin-profile> -->
<!-- <app-add-owner></app-add-owner> -->
<!-- <app-manage-access></app-manage-access> -->
<!-- <app-owner-profile></app-owner-profile> -->
<!-- <app-teacher-profile></app-teacher-profile> -->
<!-- <app-reception-profile></app-reception-profile> -->
<!-- <app-student-profile></app-student-profile> -->
<!-- <app-manage-students></app-manage-students> -->
<router-outlet></router-outlet>